.forgot-page {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;

}


.forgot-card {

    background: white;
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    text-align: center;

}


.forgot-card h1 {

    margin-bottom: 15px;

}


.forgot-card p {

    color: #666;
    margin-bottom: 25px;

}


.forgot-card input {

    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;

}


.forgot-card button {

    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #10b981;
    color: white;
    cursor: pointer;

}